/*Kommentare*/
body {
    background-color: rgba(131, 167, 171, 0.6);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
main {
    margin: 0.5%;
}
nav {
    min-height: 10vh;
    background-color: black;
}
.navStyling {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.navStyling a {
    color: white;
    text-decoration: none; /* Textdekoration (none, underline, overline, line-through) */
}
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
header {
    min-height: 90vh;
}
h1 {
    text-shadow: 3px 3px 5px rgba(31, 84, 116, 0.7); /* Textschatten */
    font-size: clamp(1em, 2.8vw, 1.75em);
    letter-spacing: 2px; /* Zeichenabstand */
    font-family: 'Trebuchet MS', Helvetica, sans-serif; /* Schriftfamilien die aus mehreren Wörtern bestehen müssen mit Anführungszeichen geschrieben werden */
    text-transform: uppercase; /* Textumwandlung (uppercase, lowercase, capitalize) */
    font-stretch: expanded;
}
p {
    line-height: 1.5;
}
article.flex {
    min-height: 100vh;
    align-items: start;
    border: 1px solid rgba(128, 128, 128, 0.87);
    margin: 1% 0;
}
section {
    padding: 4%;
    flex: 1 1 300px
}
h2 {
    display: block;
    width: 100%;
    text-align: center;
    word-spacing: 3px;
}
h3 {
    text-align: center;
}
.fluid {
    max-width: 100%;
    border-radius: 20%;
}
footer {
    background-color: black;
    padding: 2%;
    text-align: center;
    color: white;
}
footer a {
    color: pink;
    font-weight: bold;
    font-style: italic;
}
